{% extends 'main-layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello, {{ user.FirstName }} {{ user.LastName }}</h1>
    </div>
</div>
{% endblock %}