[propel]
;
; Database section
;
database.connections.yourdbname.adapter    = mysql
database.connections.yourdbname.classname  = Propel\Runtime\Connection\ConnectionWrapper
database.connections.yourdbname.dsn        = mysql:host=localhost;dbname=yourdbname
database.connections.yourdbname.user       = yourdbuser
database.connections.yourdbname.password   = yourdbpassword
database.connections.yourdbname.attributes =

;
; Runtime section
;
runtime.defaultConnection = yourdbname
runtime.connections[0]    = yourdbname

;
; Generator section
;
generator.defaultConnection = yourdbname
generator.connections[0] = yourdbname