<?xml version="1.0" encoding="UTF-8"?>
<config>
    <propel>
        <datasources default="yourdbname">
            <datasource id="yourdbname">
                <adapter>mysql</adapter> <!-- sqlite, mysql, myssql, oracle, or pgsql -->
                <connection>
                    <dsn>mysql:host=localhost;dbname=yourdbname</dsn>
                    <user>yourdbusername</user>
                    <password>yourdbpassword</password>
                </connection>
            </datasource>
        </datasources>
        <log>
            <logger name="defaultLogger">
                <type>stream</type>
                <path>/var/log/propel.log</path>
                <level>300</level>
            </logger>
        </log>
    </propel>
</config>